<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.smrahmadi.mrnote">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.CAMERA"
        tools:node="remove" />

    <application
        android:name="ir.smrahmadi.mrnote.app"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">
        <activity
            android:name="ir.smrahmadi.mrnote.UI.Home"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ir.smrahmadi.mrnote.UI.Note"
            android:theme="@style/AppThemeNote"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="ir.smrahmadi.mrnote.UI.Password" />
        <activity
            android:name="ir.smrahmadi.mrnote.UI.Search"
            android:theme="@style/SearchActionBar" />
        <activity android:name="ir.smrahmadi.mrnote.UI.Settings" />
        <activity android:name="ir.smrahmadi.mrnote.UI.About"></activity>
    </application>

</manifest>